<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1>{{ app_title }}</h1>
    <hr>
    <p>A simple app created by {{ author.name }}</p>
    <p>Contact author at {{ author.email }} / {{ author.phone }}</p>
</body>
</html>